{
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": "./tsconfig.json" },
  "plugins": ["@typescript-eslint", "mocha"],
  "rules": {
    "@typescript-eslint/no-floating-promises": ["error"],
    "mocha/no-exclusive-tests": ["error"]
  }
}
